﻿<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Liberty Financial Group</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body data-col="1-column" class=" 1-column  blank-page">

    <!--Login Page Starts-->
    <div class="full-height-vh" style="display: flex; flex-wrap: wrap;">
        <div class="leftSection"> </div>
        <div class="rightSection">
            <div style="margin:30px 0 0 0;">
                <div class="d-flex flex-column" style="margin:0 50px;padding-top: 22.5px">
                    <div class="logo d-flex align-items-center justify-content-center">
                        <img src="~/LibertyGroup.png" />
                    </div>
                    <p class="d-flex align-items-left justify-content-left" style="font-family:Arial, Helvetica, sans-serif; font-size:21px;color: rgba(0,0,0,0.87);">LOGIN TO YOUR ACCOUNT</p>
                </div>

                <div class="form-group text-center">
                    <div class="fg-actions d-flex justify-content-center" style="padding-right:7%">
                        <div class="recover-pass form-group" style="width:65%; margin-bottom: 0px !important; margin-top: 10px">
                            <div class="dropdown">
                                
                                    <a class="btn btn-primary text-decoration-none text-white" style="background:#004284 !important;padding:0.600rem 1.0rem !important; height:3rem;" asp-action="TwoFactor" ><i class="ft-mail mr-2"></i><span> Email Verification Code</span></a>
                                    
                                
                                @*<ul class="dropdown-menu" style="background:linear-gradient(45deg, #060606, #8a8a8a);opacity:0.7; width:100%;padding-left:10px" id="demolist">
                                    <li><b><a asp-action="TwoFactor" style="color:white !important"><i class="ft-mail mr-2"></i><span> Email</span></a></b></li>
                                    <li><b><a asp-action="EnableAuthenticator" style="color:white !important"><i class="fa fa-qrcode mr-2"></i><span>Authenticator App</span></a></b></li>
                                </ul>*@
                            </div>
                        </div>
                    </div>

                </div>
                <partial name="_ValidationSummary" />

            </div>

        </div>

    </div>

    <!--Login Page Ends-->
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN JS-->
    <script src="~/app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>   
    <!-- END PAGE LEVEL JS-->

    <style>
        body, h1, h2, h3, h4, h5, h6, div, span, p, a {
            font-family: Muli, Helvetica !important;
        }

        input, .checkboxLabel {
            font-family: Muli, Helvetica;
            font-size: 16px !important,
        }

            input:hover, input:focus {
                border-color: black !important;
            }

        .textInput {
            background: transparent;
            border-radius: 6px;
            height: 62px;
            width: 100%;
            max-width: 100%;
            vertical-align: bottom;
            border: 2px solid #eee;
            padding-left: 10px;
            margin-bottom: 20px;
        }

        .leftSection {
            flex: 1 1 0%;
            box-sizing: border-box;
            background-image: url(/homeBlue1.jpeg) !important;
            background-size: cover;
            width: 68%;
        }

        .rightSection {
            width: 32%;
            min-width: 32%;
            max-width: 32%;
            background: white;
        }

        @@media(max-width: 960px) {
            .leftSection {
                width: 50%;
            }

            .rightSection {
                width: 50%;
                min-width: 50%;
                max-width: 50%;
            }
        }

        .materialIcon {
            position: relative;
            top: -44px;
            left: 285px;
            color: rgba(0,0,0,0.54);
        }

        .btn {
            width: 100%;
            background: rgb(3,155,229) !important;
            font-family: Muli, Helvetica;
            font-size: 14px !important;
            color: white;
        }

        .logo {
            padding-bottom: 40px;
        }
    </style>
</body>
<!-- END : Body-->
</html>
