﻿@model Marvin.IDP.Model.EnableAuthenticatorViewModel

<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Apex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Apex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Login</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/app-assets/img/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/app-assets/img/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/app-assets/img/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/app-assets/img/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/app-assets/img/ico/favicon-32.png">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body data-col="1-column" class=" 1-column  blank-page" style="width: 100%;height: 100%;max-height: 100%;min-height: 100%;margin: 0;padding: 0; overflow: hidden;-webkit-font-smoothing: auto;-moz-osx-font-smoothing: auto">

    <!--Login Page Starts-->
    <div class="row full-height-vh" style="flex-direction: row;box-sizing: border-box;display: flex; place-content: stretch flex-start;align-items: stretch;">
        <div style="        flex: 1 1 0%;
        box-sizing: border-box;
        background-image: url(/homeBlue.jpg) !important;
        background-size: cover;">
            <div class="companyDetails">
                @*<div class="logo">
                        <img src="~/favicon.png" style="width: 90px; height: 100px; border-radius:5px" />
                    </div>*@
                <div>
                    <h1>
                        Authentication
                    </h1>                    
                        <div class="companyText">
                            <p>To use an authenticator app go through the following steps:</p>
                            <ol class="list">
                                <li>
                                    <p>
                                        Download a two-factor authenticator app like <b>Microsoft Authenticator</b> for
                                        <a href="https://go.microsoft.com/fwlink/?Linkid=825071"><code>Windows Phone</code></a>,
                                        <a href="https://go.microsoft.com/fwlink/?Linkid=825072"><code>Android</code></a> and
                                        <a href="https://go.microsoft.com/fwlink/?Linkid=825073"><code>iOS</code></a> or
                                        <b>Google Authenticator</b> for
                                        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en"><code>Android</code></a> and
                                        <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8"><code>iOS</code></a>.
                                    </p>
                                </li>
                                <li>
                                    <p>Scan the <b>QR Code</b> or enter this <b>key</b> <kbd>@Model.SharedKey</kbd> into your two factor authenticator app. Spaces and casing do not matter.</p>
                                    @*<div class="alert alert-info">To enable QR code generation please read our <a href="https://go.microsoft.com/fwlink/?Linkid=852423">documentation</a>.</div>*@
                                    <div id="qrCode" style="background-color:white; height:110px;width:110px; padding:5px;"></div>
                                    <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
                                </li>
                                <li>
                                    <p>
                                        Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
                                        with a unique code. Enter the code in the confirmation box.
                                    </p> 
                                </li>
                            </ol>
                        </div>                    
                </div>
            </div>

        </div>
        <div style="width: 420px;min-width: 520px;max-width: 420px;background:white;">
            <div style="margin:30px 0 0 0;">
                <div class="d-flex flex-column" style="margin:0 50px;padding-top: 22.5px">
                    <div class="logo d-flex align-items-center justify-content-center">
                        <img src="~/LibertyGroup.png" />
                    </div>
                    <p class="d-flex align-items-center justify-content-center" style="font-family:Arial, Helvetica, sans-serif; font-size:21px;color: rgba(0,0,0,0.87);">FORGOT PASSWORD</p>
                </div>

                <!--Content-->
                <div style="padding: 30px 50px;">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">Verification Code</label>
                            <input asp-for="Code" class="textInput" autocomplete="off" placeholder="Verification Code" />
                            <span asp-validation-for="Code"></span>
                        </div>
                        <button type="submit" class="btn btn-primary text-decoration-none text-white" style="background:#004284 !important;height:3rem;">Verify</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>                    
                </div>
            </div>

        </div>

        <!--Login Page Ends-->
        <!-- ////////////////////////////////////////////////////////////////////////////-->
        <!-- BEGIN VENDOR JS-->
        <script src="~/app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
        <!-- BEGIN VENDOR JS-->
        <!-- BEGIN PAGE VENDOR JS-->
        <!-- END PAGE VENDOR JS-->
        <!-- BEGIN APEX JS-->
        <script src="~/app-assets/js/app-sidebar.js" type="text/javascript"></script>
        <script src="~/app-assets/js/notification-sidebar.js" type="text/javascript"></script>
        <script src="~/app-assets/js/customizer.js" type="text/javascript"></script>
        <!-- END APEX JS-->
        <!-- BEGIN PAGE LEVEL JS-->
        <!-- END PAGE LEVEL JS-->

        <style>
            body, h1, h2, h3, h4, h5, h6, div, span, p, a {
                font-family: "Helvetica" !important;
            }

            input, .checkboxLabel {
                font-family: "Helvetica";
                font-size: 16px !important;
            }

                input:hover, input:focus {
                    border-color: black !important;
                }

            .textInput {
                background: transparent;
                border-radius: 6px;
                height: 62px;
                width: 100%;
                max-width: 100%;
                vertical-align: bottom;
                border: 2px solid #eee;
                padding-left: 10px;
            }

            .materialIcon {
                position: relative;
                top: -44px;
                left: 285px;
                color: rgba(0,0,0,0.54);
            }

            .btn {
                width: 100%;
                background: rgb(3,155,229) !important;
                font-family: "Helvetica";
                font-size: 14px !important;
                color: white;
            }

            .logo {
                padding-bottom: 40px;
            }

            .companyDetails {
                padding: 60px 120px;
                color: white !important;
                font-family: "Helvetica";
            }

                .companyDetails h1 {
                    padding-bottom: 20px;
                }

            .companyText {
                font-size: 16px
            }
        </style>
</body>
<!-- END : Body-->
</html>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/lib/qrcodejs/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 100,
                height: 100,
                colorDark: "#000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });
    </script>
}