﻿@model Marvin.IDP.Model.ForgotPasswordModel

<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Liberty Financial Group</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body data-col="1-column" class=" 1-column  blank-page">

    <!--Login Page Starts-->
    <div class="full-height-vh" style="display: flex; flex-wrap: wrap;">
        <div class="leftSection"> </div>
        <div class="rightSection">
            <div style="margin:30px 0 0 0;">
                <div class="d-flex flex-column" style="margin:0 50px;padding-top: 22.5px">
                    <div class="logo d-flex align-items-center justify-content-center">
                        <img src="~/LibertyGroup.png" />
                    </div>
                    <p class="d-flex align-items-center justify-content-center" style="font-family:Muli, Arial, Helvetica, sans-serif; font-size:21px;color: rgba(0,0,0,0.87);">FORGOT PASSWORD</p>
                </div>

                <!--Content-->
                <div style="padding: 30px 50px;">
                    <form asp-route="ForgotPassword" method="post">
                        <div class="form-group">
                            <label asp-for="Email">Enter Your Email</label>
                            <input type="text" class="textInput" placeholder="Email Address" asp-for="Email" />
                        </div>
                        <button type="submit" class="btn btn-primary text-decoration-none text-white form-control" style="background:#004284 !important;height:3rem;">Reset <i class="ft-arrow-right"></i></button>
                        <div asp-validation-summary="All"></div>
                    </form>
                    <p>
                        Already have account?
                        Please <a href="~/grants">Sign In</a> here.
                    </p>
                    <partial name="_ValidationSummary" />
                </div>
            </div>
            </div>

        </div>

       
    <style>
        body, h1, h2, h3, h4, h5, h6, div, span, p, a {
            font-family: Muli, Helvetica !important;
        }

        input, .checkboxLabel {
            font-family: Muli, Helvetica;
            font-size: 16px !important,
        }

            input:hover, input:focus {
                border-color: black !important;
            }

        .textInput {
            background: transparent;
            border-radius: 6px;
            height: 62px;
            width: 100%;
            max-width: 100%;
            vertical-align: bottom;
            border: 2px solid #eee;
            padding-left: 10px;
            margin-bottom: 20px;
        }

        .leftSection {
            flex: 1 1 0%;
            box-sizing: border-box;
            background-image: url(/homeBlue1.jpeg) !important;
            background-size: cover;
            width: 68%;
        }

        .rightSection {
            width: 32%;
            min-width: 32%;
            max-width: 32%;
            background: white;
        }

        @@media(max-width: 960px) {
            .leftSection {
                width: 50%;
            }

            .rightSection {
                width: 50%;
                min-width: 50%;
                max-width: 50%;
            }
        }

        .materialIcon {
            position: relative;
            top: -44px;
            left: 285px;
            color: rgba(0,0,0,0.54);
        }

        .btn {
            width: 100%;
            background: rgb(3,155,229) !important;
            font-family: Muli, Helvetica;
            font-size: 14px !important;
            color: white;
        }

        .logo {
            padding-bottom: 40px;
        }
    </style>
</body>
<!-- END : Body-->
</html>