﻿@model LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Liberty Financial Group</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body style="background-image: url(/homeBlue.jpeg); background-size:cover; overflow:hidden;">

    <div class="page-header logged-out" style="margin: 25px; font-family: Muli, Arial, Helvetica, sans-serif !important;">
        <h3 class="center-color color">
            You have successfully logged out of the application.
        </h3>
        <p class="color font-size">Please close the browser for security reasons.</p>
        <a href="@Model.RetutnUrl" class=" font" style="color: #FDB000">Back to Login </a>
    </div>


</body>
</html>
@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
<style>
    body, h1, h2, h3, h4, h5, h6, div, span, p, a {
        font-family: Muli, Helvetica !important;
    }

    .center-color {
        padding-top: 18%;
    }
    .color {
        color: #004285;
    }
    .font{
        font-size: 20px;
    }
    .font-size {
        font-size: 16px;
    }
</style>