﻿@model Marvin.IDP.Model.LoginWith2faViewModel
<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Apex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Apex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Login</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/app-assets/img/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/app-assets/img/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/app-assets/img/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/app-assets/img/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/app-assets/img/ico/favicon-32.png">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body data-col="1-column" class=" 1-column  blank-page" style="width: 100%;height: 100%;max-height: 100%;min-height: 100%;margin: 0;padding: 0; overflow: hidden;-webkit-font-smoothing: auto;-moz-osx-font-smoothing: auto">

    <!--Login Page Starts-->
    <div class="row full-height-vh" style="flex-direction: row;box-sizing: border-box;display: flex; place-content: stretch flex-start;align-items: stretch;">
        <div style="        flex: 1 1 0%;
        box-sizing: border-box;
        background-image: url(/homeBlue.jpg) !important;
        background-size: cover;">
            <div class="companyDetails">
                @*<div class="logo">
                        <img src="~/favicon.png" style="width: 90px; height: 100px; border-radius:5px" />
                    </div>*@
                <div>
                    <h1>
                        GATEWAY TO
                        <div style="color:#FDB000">FINANCIAL INDEPENDENCE</div>
                    </h1>
                    <span class="companyText">
                        We have paved the way for you to realize financial freedom one step at a time. <br />
                        We are re-inventing financial services using our proprietary fin-tech platform
                        to bring you the most effective customized solutions for your financial situation.
                    </span>
                </div>
            </div>

        </div>
        <div style="width: 420px;min-width: 520px;max-width: 420px;background:white;">
            <div style="margin:30px 0 0 0;">
                <div class="d-flex flex-column" style="margin:0 50px;padding-top: 22.5px">
                    <div class="logo d-flex align-items-center justify-content-center">
                        <img src="~/LibertyGroup.png" />
                    </div>
                    <p class="d-flex align-items-center justify-content-center" style="font-family:Arial, Helvetica, sans-serif; font-size:21px;color: rgba(0,0,0,0.87);">AUTHENTICATION</p>
                </div>

                <!--Content-->

                <form asp-route="TwoFactor" method="post" style="padding: 30px 50px 0px;">
                    <div class="form-group">
                        <label asp-for="TwoFactorCode">
                            A six-digit verification code has been emailed to you. Please entered that code here.
                        </label>
                        <input asp-for="TwoFactorCode" class="textInput" autocomplete="off" placeholder="Verification Code" />
                        <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary text-decoration-none text-white form-control" style="background:#004284 !important">Submit</button>
                    <div asp-validation-summary="All" ></div>
                </form>
                <div style="padding:0px 50px 0px 50px;">
                    <a asp-action="LoginWithRecoveryCode">Login with a recovery code.</a>  
                    </div>

            </div>

        </div>

        <!--Login Page Ends-->
        <!-- ////////////////////////////////////////////////////////////////////////////-->
        <!-- BEGIN VENDOR JS-->
        <script src="~/app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
        <!-- BEGIN VENDOR JS-->
        <!-- BEGIN PAGE VENDOR JS-->
        <!-- END PAGE VENDOR JS-->
        <!-- BEGIN APEX JS-->
        <script src="~/app-assets/js/app-sidebar.js" type="text/javascript"></script>
        <script src="~/app-assets/js/notification-sidebar.js" type="text/javascript"></script>
        <script src="~/app-assets/js/customizer.js" type="text/javascript"></script>
        <!-- END APEX JS-->
        <!-- BEGIN PAGE LEVEL JS-->
        <!-- END PAGE LEVEL JS-->

        <style>
            body, h1, h2, h3, h4, h5, h6, div, span, p, a {
                font-family: "Helvetica" !important;
            }

            input, .checkboxLabel {
                font-family: "Helvetica";
                font-size: 16px !important;
            }

                input:hover, input:focus {
                    border-color: black !important;
                }

            .textInput {
                background: transparent;
                border-radius: 6px;
                height: 62px;
                width: 100%;
                max-width: 100%;
                vertical-align: bottom;
                border: 2px solid #eee;
                padding-left: 10px;
            }

            .materialIcon {
                position: relative;
                top: -44px;
                left: 285px;
                color: rgba(0,0,0,0.54);
            }

            .btn {
                width: 100%;
                background: rgb(3,155,229) !important;
                font-family: "Helvetica";
                font-size: 14px !important;
                color: white;
            }

            .logo {
                padding-bottom: 40px;
            }

            .companyDetails {
                padding: 180px 120px;
                color: white !important;
                font-family: "Helvetica";
            }

                .companyDetails h1 {
                    padding-bottom: 20px;
                }

            .companyText {
                font-size: 16px
            }
        </style>
</body>
<!-- END : Body-->
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}