﻿@model LoginViewModel
<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Liberty Financial Group</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body data-col="1-column" class=" 1-column  blank-page">

    <!--Login Page Starts-->
    <div class="full-height-vh" style="display: flex; flex-wrap: wrap;">
        <div class="leftSection"> </div>
        <div class="rightSection">
            <div style="margin:30px 0 0 0;">
                <div class="d-flex flex-column" style="margin:0 50px;padding-top: 22.5px">
                    <div class="logo d-flex align-items-center justify-content-center">
                        <img src="~/LibertyGroup.png" />
                    </div>
                    <p class="d-flex align-items-left justify-content-left" style="font-family: Muli, Arial, Helvetica, sans-serif; font-size:21px;color: rgba(0,0,0,0.87);">LOGIN TO YOUR ACCOUNT</p>
                </div>

                <form asp-route="Login" style="padding: 30px 50px;">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <input type="text" autocomplete="off" class="textInput" placeholder="Email" asp-for="Username" />
                    <input type="password" autocomplete="off" class="textInput" placeholder="Password" asp-for="Password" />
                   
                    <div class="d-flex justify-content-between mt-2">
                        <div class="remember-me">
                            <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                <input type="checkbox" id="customCheckboxInline1" name="customCheckboxInline1" class="custom-control-input" />
                                <label class="custom-control-label checkboxLabel" for="customCheckboxInline1" style="text-transform:none !important; letter-spacing: normal !important;">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="forgot-password-option">
                            <a asp-action="ForgotPassword" class="text-decoration-none text-primary forgotpassword-bg" style="">
                                Forgot Password?
                            </a>
                        </div>
                    </div>
                    <div class="fg-actions d-flex justify-content-center">
                        <div class="recover-pass form-group" style="width:100%; margin-bottom: 0px !important; margin-top: 10px">
                            <button class="btn btn-primary text-decoration-none" style="background:#004284 !important" name="button" value="login">
                                LOGIN
                            </button>
                        </div>
                    </div>
                </form>
                <partial name="_ValidationSummary" />

            </div>

        </div>

    </div>

    <!--Login Page Ends-->



    <style>
    body, h1, h2, h3, h4, h5, h6, div, span, p, a { font-family: Muli, Helvetica !important; }

        input, .checkboxLabel {
            font-family: Muli, Helvetica;
            font-size: 16px !important, 
        }

            input:hover, input:focus {
                border-color: black !important;
            }

        .textInput {
            background: transparent;
            border-radius: 6px;
            height: 62px;
            width: 100%;
            max-width: 100%;
            vertical-align: bottom;
            border: 2px solid #eee;
            padding-left: 10px;
            margin-bottom: 20px;
        }

        .leftSection {
            flex: 1 1 0%;
            box-sizing: border-box;
            background-image: url(/homeBlue1.jpeg) !important;
            background-size: cover;
            width: 68%;
        }
        .rightSection {
            width: 32%;
            min-width: 32%;
            max-width: 32%;
            background: white;
        }
         @@media(max-width: 960px) {
            .leftSection{
                width: 50%;
             }

            .rightSection {
                width: 50%;
                min-width: 50%;
                max-width: 50%;
            }

         }

        .materialIcon {
            position: relative;
            top: -44px;
            left: 285px;
            color: rgba(0,0,0,0.54);
        }

        .btn {
            width: 100%;
            background: rgb(3,155,229) !important;
            font-family: Muli, Helvetica;
            font-size: 14px !important;
            color: white;
        }

        .logo {
            padding-bottom: 40px;
        }
    </style>
</body>
<!-- END : Body-->
</html>