﻿@model LogoutViewModel

<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Liberty Financial Group</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body style="background-image: url(/homeBlue.jpg); background-size: cover; overflow: hidden; ">

    <div class="logout-page">
        <div class="logout-heading">
            <h2>Logout</h2>        
            <p>You will be logged out of Liberty Financial Group CRM System </p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <fieldset>
                    <button class="btn btn-primary text-decoration-none" style="background:#004284 !important;width: 85px;" name="button" value="login">
                        Ok
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>
<style>
    .logout-page {
        width: 40%;
        margin: 0 auto;
        margin-top: 15%;
        border: 1px solid black;
        text-align: center;
        font-family: Muli, Arial, Helvetica, sans-serif;
    }

    .logout-heading {
        background: #FDB000;
    }
</style>