﻿@model GrantsViewModel

<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Apex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Apex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Liberty Financial Group</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/app-assets/img/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/app-assets/img/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/app-assets/img/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/app-assets/img/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/app-assets/img/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body data-col="1-column" class=" 1-column  blank-page">
    <div class="wrapper">
        <div class="main-panel">
            <!-- BEGIN : Main Content-->
            <div class="main-content">
                <div class="content-wrapper">
                    <!--Login Page Starts-->
                    <section id="login" class="gradient-shdow-night" style="background-image: url(/homeBlue.jpeg) !important;">
                        <div class="container-fluid">
                            <div class="row full-height-vh m-0 white">
                                <div class="grants mt-3">
                                    <div class="row page-header">
                                        <div class="col-sm-12 center-color">
                                            <h1>
                                                Client Application Access
                                            </h1>
                                            <div>Below is the list of applications you have given access to and the names of the resources they have access to.</div>
                                        </div>
                                        @if (Model.Grants.Any() == false)
                                        {
                                            <div class="row mt-3">
                                                <div class="col-sm-12 p-10">
                                                    <div class="alert alert-info color max">
                                                        You have not given access to any applications
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            foreach (var grant in Model.Grants)
                                            {
                                                <div class="row grant">
                                                    <div class="col-sm-2">
                                                        @if (grant.ClientLogoUrl != null)
                                                        {
                                                            <img src="@grant.ClientLogoUrl">
                                                        }
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="clientname">@grant.ClientName</div>
                                                        <div>
                                                            <span class="created">Created:</span> @grant.Created.ToString("yyyy-MM-dd")
                                                        </div>
                                                        @if (grant.Expires.HasValue)
                                                        {
                                                            <div>
                                                                <span class="expires">Expires:</span> @grant.Expires.Value.ToString("yyyy-MM-dd")
                                                            </div>
                                                        }
                                                        @if (grant.IdentityGrantNames.Any())
                                                        {
                                                            <div>
                                                                <div class="granttype">Identity Grants</div>
                                                                <ul>
                                                                    @foreach (var name in grant.IdentityGrantNames)
                                                                    {
                                                                        <li>@name</li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        }
                                                        @if (grant.ApiGrantNames.Any())
                                                        {
                                                            <div>
                                                                <div class="granttype">API Grants</div>
                                                                <ul>
                                                                    @foreach (var name in grant.ApiGrantNames)
                                                                    {
                                                                        <li>@name</li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <form asp-action="Revoke">
                                                            <input type="hidden" name="clientId" value="@grant.ClientId">
                                                            <button class="btn btn-danger">Revoke Access</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>


                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Login Page Ends-->

                </div>
            </div>
        </div>
    </div>

    <style>
        body, h1, h2, h3, h4, h5, h6, div, span, p, a {
            font-family: Muli, Helvetica !important;
        }

        .center-color {
            padding-top: 18%;
            color: #004285;
        }
        .color {
            color: #004285;
        }
        .max {
            width: max-content;
        }
        .p-10{
            padding-left: 10%;
        }
    </style>


    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN APEX JS-->
    <script src="~/app-assets/js/app-sidebar.js" type="text/javascript"></script>
    <script src="~/app-assets/js/notification-sidebar.js" type="text/javascript"></script>
    <script src="~/app-assets/js/customizer.js" type="text/javascript"></script>
    <!-- END APEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
</body>
</html>